.container-footer {
    width: 80%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    .box {
        img {
            padding: 15px 0;
        }
        ul {
            margin-left: 30px;
            line-height: 1.5;
            list-style: none;
            li {
                color: grey;
                h3 {
                    padding: 15px 0px;
                }
            }
        }
        .interactive-list {
            :first-child {
                :hover {
                    color: grey;
                    cursor: auto;
                }
            }
            :hover {
                cursor: pointer;
                color: black;
            }
        }
        flex: 0 0 100%;
        @media screen and (min-width:700px) {
            flex: 0 0 33.3%;
        }
        height: 100%;
        img {
            display: block;
            margin: 0 auto;
        }
    }
}
#footer-img {
    width: 100%;
}
